@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=Montserrat:wght@400;600;800&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Slab:wght@200;400;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}